.my-simple-gallery {
    width: 100%;
    float: left;
}
.my-simple-gallery img {
    width: 100%;
    height: auto;
}
.my-simple-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
}
.my-simple-gallery figcaption {
    display: none;
}


.big-image-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    background-color: black;
    z-index:5000;
}

.big-img {
    height: 100%;
    width: auto;
    display:block;
    margin:auto;
    /*min-height: 100%;*/

}
.photo-thumb {
	width:100%;
	cursor:pointer;

}

.photo-thumb-container {
	width:150px;
	margin:15px;
	display:inline-block
}
.photo-thumb-icon {
	/*float: right;
	 margin-left:-25px; */
	cursor:pointer;

}