<div  class="maincontent salmon">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d375.8685765819716!2d-120.3662856753017!3d50.67294358268776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x82159153984bad8d!2sThe+Terrace!5e0!3m2!1sen!2sca!4v1451598723581"" style="max-width:600px; max-height:650px; width:100% "  frameborder="0" style="border:0" allowfullscreen></iframe>
  <!--   <div id="googleMap" style=""></div> -->


</div>
<div  class="maincontent salmon">
  <a href="/img/TRU_Map.pdf"> <img src="/img/tru_map.PNG" style="max-width:600px; width:80%" > </a>


</div>
<<!-- div class="maincontent salmon">
    <span ng-hide="true"> Hotels:</span>
    <ul class="hotelList">
        <li ng-repeat=" hotel in hotels">
            <span class="title" ng-click="showHotel(hotel)" ng-bind="hotel.title"> </span>
            <div class="info " ng-show="hotel.show">
                <p>{{hotel.address1}}</p>
                <p>{{hotel.address2}}</p>
                <p>
                    <a href="{{hotel.url}}"> Website</a>
                </p>
                <p>
                 {{phone}}
                </p>


            </div>
        </li>
        </ul>
</div>
 -->
<div class="maincontent salmon">
    <span> Taxis:</span>
    <ul class="leftJ">
        <li ng-repeat="taxi in taxis">
            {{taxi.name}}:{{taxi.phone}}
        </li>
       
    </ul>
</div>